doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Quiz matematyczny
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css')
.wrapper
  #nav
    #time
      span#time_number 0:00:00
    #left_button.nav_button
      | &lt;
    #right_button.nav_button
      | &gt;
    #score_info
      | Tw&oacute;j og&oacute;lny wynik: 
      p#score 0
      label(for='box') Zapisz statystyki
      input#box(type='checkbox')
    #buttons
      #first_button.big_button
        | Stop
      #second_button.big_button
        | Przerwij
  .main_box
    .main_content
      #intro
        h2#header Quiz matematyczny
        p#intro_text
          | Przyk&lstrok;adowy opis.
        |                     Numer pytania: 
        span#question_nr 0
        |                     /
        span#question_count 0
        #time_spended_box
          | Czas sp&eogon;dzony na tym pytaniu:
          span#time_spended
            | 0
          |                         s
      #question
        .question_content.quiz_table
          #question_field.content
            | Przyk&lstrok;adowe pytanie
      #penalty
        | Kara za z&lstrok;&aogon; odpowied&zacute;: 
        span#penalty_number 0
        | s
script(src='/javascripts/main.js')
