doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Quiz matematyczny
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css')
.wrapper
  #nav
    #time
      span#time_number 0:00:00
    #left_button.nav_button
      | &lt;
    #right_button.nav_button
      | &gt;
    #buttons
      #second_button.big_button
        | Zakończ
  .main_box
    .main_content
      #intro Poniżej są wyświetlane są Twoje wyniki. Na zielono zaznaczono poprawne odpowiedzi.
        h2#header Dziękujemy za rozwiązanie quizu!
        p#intro_text
        |                     Numer pytania: 
        span#question_nr
        |                     /
        span#question_count
        #time_spended_box
          | Czas sp&eogon;dzony na tym pytaniu:
          span#time_spended
            | 0
          |                         s
        #avg_time_box
          | Średni czas tego rozwiązywania tego pytania: 
          span#avg_time
            | s
      #question
        .question_content.quiz_table
          #question_field.content
            | 
      #penalty
        | Kara za z&lstrok;&aogon; odpowied&zacute;: 
        span#penalty_number
        | s
script(src='/javascripts/main.js')
script= 'let rawAns= `' + rawAns + '`; let rawTimes= `' + rawTimes + '`;'
script= 'let rawAvgs= `' + rawAvgs + '`; parseTables(rawAns, rawTimes, rawAvgs);'
script= 'let raw = `' + rawQuiz + '`; parseQuiz(raw); resultsCustom();'